body {
    padding-top: 5rem;
}

input.form-control.short {
    width: 75px;
    margin: auto;
}

input.form-control.shorter {
    width: 50px;
    margin: auto;
}

#app {
    padding: 3rem 1.5rem;
    text-align: center;
}

#links {
    text-align: left;
}

table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

#relics-table > tbody > tr:nth-child(5) {
    border-top: 2px solid #868686;
}

#relics-table > tbody > tr > td,
#heroes-table > tbody > tr > td {
    vertical-align: middle;
}

#relics-table .relic-image {
    width: 50px;
    margin-right: 5px;
    padding: 7px;
    border-radius: 5px;
}

#dogcog-block input {
    margin: 0 10px;
}
